@tailwind base;
@tailwind components;
@tailwind utilities;
.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
  background-color: transparent !important;
  color: black;
}
.input:focus, .input:focus-within{
  border-color: none !important;
  outline-style: none !important;
      outline-width: none !important;
    outline-offset: none !important;
    outline-color:none !important;
}