@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
  background-color: transparent !important;
  color: black;
}
.input:focus, .input:focus-within{
  border-color: none !important;
  outline-style: none !important;
      outline-width: none !important;
    outline-offset: none !important;
    outline-color:none !important;
}